
body{
 	font: "Trebuchet MS", Verdana, sans-serif;
 	background-color: #ffffff;
 	color: #696969;
 }

#main{
 	padding: 30px;
 	background-color: #ffffff;
 	border-radius: 0 0 4px 4px;
	text-align:left;
 }
h1{
 	font: Georgia, serif;
 	text-align:left;
 }
h3{
 	font: Georgia, serif;
 	border-bottom: 3px solid;
 	text-align:left;
 }

  
ul#menu{
 	padding: 0px;
 	position: relative;
 	margin: 0;
 }

ul#menu li{
 	display: inline;
 }

ul#menu li a{
 	background-color: #dcdcdc;
 	padding: 10px 20px;
 	text-decoration: none;
	line-height: 2.8em;
 	color: #034af3;
	border-radius: 4px 4px 0 0;
 }

ul#menu li a:hover{
 	background-color: #ffffff;
 }
#myaccount {
	line-height:20px;
   	background-color:#ffffff;
    	height:30px;
    	width:100px;
    	float:right;
    	padding:30px;
	margin-right: 100px;
} 
#requestlogon {
	line-height:1px;
   	background-color:#5882FA;
    	height:25px;
    	width:210px;
    	float:right;
    	padding:20px;
	margin-right: 50px;
} 



 
